.btn {
  font-size: 14px;
  border-radius: 0;
  padding: 15px 25px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.btn-default:focus,.btn-default:hover {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: #fff
}